{% extends '_layouts/detail.njk' %}

{% block page_title %}fear kraken{% endblock %}

{% block story %}
  <img src="img/kraken03.jpg" class="img-fluid">
  <h2>Fear The Kraken</h2>
  <h5>Captain's log, Oct. 19, 2018</h5>
  <p>Interloper crimp spanker Barbary Coast splice the main brace bilged on her anchor black spot chandler trysail salmagundi. Brigantine fire ship scallywag log squiffy bowsprit lateen sail American Main cog smartly. Dance the hempen jig bilge log galleon pirate yard list Barbary Coast Corsair run a rig.</p>
{% endblock %}