{% extends '_layouts/base.njk' %}

{% block page_title %}pirateblog{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-8">
    <h1>Love At First Sea</h1>
    <p class="author">By Obi-Wan Kenobi</p>
    <p class="date"> Published May 25, 1977</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <p>
         After living a life full of glamour and frugality, I reside to the sea to simply become the man Petra wants me to be. As I embark on to the 7 seas, with a total of 100 men, I carry with me the letter from a lost love. Petra resides her loss for the world and embeds herself into the underworld. I am beyond brave, I am a man in love who will travel day and night through Poseidon's trickiest of tricks for my Petra. In this blog I will pour my heart over and over, until the day I see my Petra. I travel with a portable devices such as a laptop and a wireless wifi network, which can be easily obtained <a href="detail-book-example.html">here</a> for a low price of $40 a month. Dearest Petra, if you are reading this, I will be there soon. 
      </p>
      {% for entry in data.entries %}
  <h3 class="entry-headline"><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
  <p class="entry-date">{{ entry.date }}</p>
  <hr>
{% endfor %}
    </div>
  </div>
</div>
{% endblock %}
